input{
  visibility: visible;
  position: relative;
  margin:0;

  &._checked{
    visibility: hidden;
    position: relative;
    &:after{
      content: '';
      position: absolute;
      height: 100%;
      width:  100%;
      background-color: #00A11E;
      border-radius:2px;
      visibility: visible;

    }
    &:before{
      content: '';
      background-image: url("../../assets/mark.svg");
      background-repeat: no-repeat;
      position: absolute;
      top: 3px;
      left: 1px;
      height: 6px;
      width:  10px;
      z-index: 3;
      visibility: visible;

    }
  }
  &:hover{
    cursor: pointer;
  }
}